$color-white: #fff;
$color-black: #333;
$color-whitish-blue: #f2f8fc;
$color-greyish-blue: #e7f1fd;
$color-light-blue: #007bc3;
$color-lighter-blue: #22aee5;
$color-dark-blue: #003994;
$color-blue-green: #45d1d1;
$color-blue-pale: #f4f7fb;
$color-red: #ED5D5D;
$color-light-red: #fc9c95;
$color-lighter-red: #FEF2F2;
$color-pink: #FC9C95;
$color-yellow: #f8bf2d;
$color-grey-3: #333333;
$color-grey-6: #666666;
$color-grey-9: #999999;
$color-grey-dc: #dcdcdc;
$color-grey-f8: #f8f8f8;

$color-primary: $color-light-blue;
$color-secondary: $color-lighter-blue;
$color-tertiary: $color-dark-blue;
$color-error: $color-red;
